.profile-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person-information {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid #F5F5F5;
}

.person-photo {
  margin-top: -12%;
  margin-bottom: 20px;
}

.person-name {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  color: #434C63;
}

.profile-block-item {
  width: 60%;
}

.block-greeting {
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.achievement-icon {
  margin-right: 20px;
}

.notification-block {
  border-radius: 15px;
  border: 2px solid #F5F5F5;
}

.notification-block-item {
  padding: 20px 0 20px 30px;
  border-bottom: 2px solid #F5F5F5;
}

.notification-block-item:last-child {
  border-bottom: none;
}

.notification-block-item:first-child {
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-all-btn {
  color: #B7B7B7;
}
