.header {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-icon {
  margin-right: 6%;
}

.header-profile_img {
  margin-right: 5%;
}

.menu-btn {
  display: none;
}

@media screen  and (max-width: 1050px) {
  .menu-btn {
    display: block;
    border: none;
    background-color: #FFFFFF;
  }

  .menu-btn:hover {
    cursor: pointer;
  }
}

@media screen  and (max-width: 786px) {

}

@media screen  and (max-width: 480px) {

}