.sidebar_container {
  width: 23%;
  height: 100vh;
  background-color: #FAFAFA;
}

.logo-block {
  margin: 40px 0 80px 55px;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-block_img {
  margin-right: 20px;
}

.sidebar-buttons-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-button {
  margin-bottom: 20px;
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #434C63;
  border: none;
  text-decoration: none;
  border-radius: 12px;
}

.button-content {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.button_icon {
  margin-right: 20px;
}

.button-text {
  font-size: 18px;
}

.sidebar-button:hover {
  background-color: #7ca2cb;
}

.dividing_line {
  margin-bottom: 20px;
  width: 80%;
  height: 2px;
  background-color: #F0F0F0;
}


@media screen  and (max-width: 480px) {
  .sidebar_container {
    display: none;
  }
}
